<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet Sentiments</title>
</head>
<body>
<form method="post">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <select name="topic" class="dropdown" id="type">
                <option value="none" selected disabled hidden>Select subscription</option>
                {% for selected_topic in topics %}
                <option>{{ selected_topic }}</option>
                {% endfor %}
            </select>

            <select name="vibe" class="dropdown" id="vibe">
                <option value="none" selected disabled hidden>Select vibe</option>
                <option value="ALL">ALL</option>
                <option value="NEUTRAL">NEUTRAL</option>
                <option value="POSITIVE">POSITIVE</option>
                <option value="NEGATIVE">NEGATIVE</option>
            </select>

            <div class="form-field col-lg-12">
                <button type="submit" class="submit-btn">Submit</button>
            </div>

        </div>
    </form>

    {% for item in results %}
    <tr>
        <td>{{ item.text }}</td>
        <td>{{ item.sentiment }}</td>
    </tr>
    {% endfor %}

</form>
</body>
</html>